.menu-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    height: 100%;

    .menu-logo {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        &:hover {
            svg {
                fill: var(--tomato-100);
            }
        }
    }

    nav {
        height: 100%;
        display: flex;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            list-style: none;
        }
    }
}
