@font-face {
    font-family: 'Tungsten';
    src: url('../assets/fonts/TUNGSTEN-BOLD.TTF') format('ttf');
}
@font-face {
    font-family: 'DIN Next W1G';
    src: url('../assets/fonts/DINNEXTW1G-REGULAR.OTF') format('otf')
        url('../assets/fonts/DINNEXTW1G-MEDIUM.OTF') format('otf')
        url('../assets/fonts/DINNEXTW1G-BOLD.OTF') format('otf');
}

:root {
    /* font-family */
    --title-ff: 'Tungsten', sans-serif;
    --body-ff: 'DIN Next W1G', sans-serif;

    /* font-size */
    --h1-fs: 8.75rem;
    --h2-fs: 7.5rem;
    --h3-fs: 3.75rem;
    --h4-fs: 1.875rem;
    --h5-fs: 1.3125rem;
    --body-md: 1rem;
    --body-sm: 0.875rem;
    --body-xs: 0.75rem;

    /* font-weight */
    --body-regular: 400;
    --body-medium: 500;
    --body-bold: 600;

    /* line-height */
    --h1-lh: 8.5rem;
    --h2-lh: 7.25rem;
    --h3-lh: 5.625rem;
    --h4-lh: 2.8125rem;
    --h5-lh: 1.968rem;
    --body-lh-md: 1.5rem;
    --body-lh-sm: 1.3125rem;
    --body-lh-xs: 1.125rem;

    /* colors */

    --tomato-100: #ff4655;
    --ocean-100: #0f1923;
    --error-100: #be29cc;

    --gray-100: #111111;
    --gray-200: #292929;
    --gray-250: #373737;
    --gray-300: #808080;
    --gray-350: #768079;
    --gray-500: #bdbcb7;
    --gray-700: #ece8e1;
    --white-100: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-700);
    font-family: var(--body-ff);
    font-weight: var(--body-regular);
    line-height: var(--body-lh-md);
}

button {
    font-family: var(--body-ff);
    font-size: var(--body-sm);
    font-weight: var(--body-bold);
}
